
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage.cshtml";
}
<script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/Content/Kendo_Grid/kendo.js"></script>
<script src="~/Content/jqueryconfirmdist/jquery-confirm.min.js"></script>
<script src="~/Content/Toastr/toastr.min.js"></script>
<link href="~/Content/jqueryconfirmdist/jquery-confirm.min.css" rel="stylesheet" />
<link href="~/Content/Kendo_Grid/kendo.common-material.min.css" rel="stylesheet" />
<link href="~/Content/Kendo_Grid/common.min.css" rel="stylesheet" />
<link href="~/Content/Kendo_Grid/kendo.material.min.css" rel="stylesheet" />
<link href="~/Content/Toastr/toastr.css" rel="stylesheet" />

<div>
    <h4>Product</h4>
     
</div>
<button id="btn_modal" onclick="getBody()" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" type="button">create</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Product Entry</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="body" class="modal-body">

            </div>

        </div>
    </div>
</div>
<div id="grid">

</div>
<script>
    var record = 0;
    $("#grid").kendoGrid({
        dataSource: {
            transport: {
                read: "@Url.Action("listProduct", "Product")",
                dataType: "json"
            },
            pageSize: 5
        },
        height: 550,
        filterable: {
            mode: "row"
        },
        sortable: true,
        pageable: {
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        columns: [
            {
                title: "&nbsp;",
                template: "#= ++record #",
                width: 30
            },
            {
                field: "ProductId",
                title: "Id",
                hidden: true
            }, {
                field: "Name",
                title: "Product Name",
                filterable: {
                    cell: {
                        operator: "contains",
                        suggestionOperator: "contains"
                    }
                }
            }, {
                field: "Description",
                title: "Product Description",
                filterable: {
                    cell: {
                        showOperators: false
                    }
                }
            }, {
                template: '<a href="#:HomePageUrl#">#:HomePageUrl#</a>',
                field: "HomePageUrl",
                title: "HomePageUrl",
                filterable: {
                    cell: {
                        enabled: false
                    }
                }
            }, {
                template: '<a href="#:DownloadUrl#">#:DownloadUrl#</a>',
                field: "DownloadUrl",
                title: "DownloadUrl",
                filterable: {
                    cell: {
                        enabled: false
                    }
                }
            }, {
                template:'<span class="label label-success">#:Version#</span>',
                field: "Version",
                title: "Version",
                filterable: {
                    cell: {
                        showOperators: false
                    }
                },
                width:100
            }, {
                template: '<span class="label label-success">#:Status#</span>',
                field: "Status",
                title: "Status",
                filterable: {
                    cell: {
                        enabled: false
                    }
                },
                width: 100
            },
        {
            template: "<button id='edit' pid='#:ProductId#' onclick='editData(#:ProductId#)' class='btn btn-flat bg-navy btn-sm'><i class='fa fa-edit'></i></button>&nbsp;<button id='delete' pid='#:ProductId#' onclick='delData(#:ProductId#)' class='btn btn-danger btn-flat btn-sm'><i class='fa fa-trash'></i></button>",
            field: "",
            title: "Action",
            width: 100
        }],
        dataBinding: function () {
            record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
        }
    });
    function delData(id) {
        $.post("@Url.Action("Delete", "Product")", {ProductId:id} ).done(function (response, status, jqxhr) {
            if (response.result == true) {
                $('#grid').data('kendoGrid').dataSource.read();
                $('#grid').data('kendoGrid').refresh();
                toastr.success(response.message);
            } else {
                toastr.info(response.message);
            }
        });
    }

    function getBody() {
        $('#body').load("@Url.Action("Create","Product")");
    }
    function editData(id) {
        $.confirm({
            title: 'Product Edit',
            content: 'url:@Url.Action("Edit", "Product")?id=' + id,
            columnClass: 'large',
            buttons: {
                formSubmit: {
                    text: 'Submit',
                    btnClass: 'btn-blue',
                    action: function () {
                        var form = $('.jconfirm-content').find('form');
                        formdata = form.serialize();
                        $.post("@Url.Action("Edit", "Product")", formdata).done(function (response, status, jqxhr) {
                            console.log(response.result);
                            if (response.result == true) {
                                $('#grid').data('kendoGrid').dataSource.read();
                                $('#grid').data('kendoGrid').refresh();
                                toastr.success(response.message);
                            } else {
                                toastr.info(response.message);
                            }
                        });
                    }
                },
                cancel: function () {
                    //close
                }
            }
        });
    }

</script>
